node {
    size: 10px, 15px;
    shape: circle;
    fill-color: black;
    text-mode: normal;
    text-background-mode: rounded-box;
    text-visibility-mode: normal;
}

node:clicked {
    fill-color: red;
}